---
export interface Props {
  title: string;
  paragraph: string;
}

const { title, paragraph } = Astro.props as Props;
---

<section class="px-1 py-1 my-2 text-left">
  <h2
    class="font-bold text-3xl md:text-left text- text-onyx md:pl-1 pl-1 md:pt-[280px] pt-1"
  >
    -{title}-
  </h2>

  <div id="ABOUT" class="flex justify-">
    <p class="pl-5 bg- text-onyx md:text-left">
      {paragraph}
    </p>
  </div>
</section>
