---
import SectionBanner from "../../shared/Section_Banner.astro";
import FeaturedWebsites from "./FeaturedWebsites.astro";
import TemplatePackages from "./TemplatePackages.astro";
import PhotoGallery from "./PhotoGallery.astro";
---

<section id="web-dev" class="bg-">
  <SectionBanner
    title="Web Development"
    paragraph="Why choose LC? Because of their endless designs and combinations available view each sq for description of how LC can help you"
  />
  <PhotoGallery />
  <FeaturedWebsites />
  <TemplatePackages />
</section>
