---
import SubSectionBanner from "../../shared/SubSection_Banner.astro";
import Card from "../../Card.astro";
---

<div id="recent-work" class="bg- mt-5 pt-5">
  <SubSectionBanner title="Recent Clients" />
  <div id="wrapper" class="flex justify-center 2xl:px-[180px] px-2">
    <div id="grid" class="grid 2xl:grid-cols-2 grid-cols-1 gap-12">
      <div id="sq1" class="">
        <a href="https://hoveyroofing.com">
          <Card
            title="small business- Hovey Roofing Co."
            listitem1="website creation"
            listitem2="the ablity to tell your story and brand"
            listitem3=" Increased potential customers, easier to find on Google. ipsum dolor sit amet consectetur adipisicing elit. Similique aspernatur neque facilis quibusdam harum voluptates aliquid impedit, aliquam a quidem provident, suscipit minus itaque hic nam. Libero eaque quod labore."
          />
        </a>
      </div>
      <div id="sq2" class="ck">
        <a href="https://ie-backflow.vercel.app/">
          <Card
            title="small business- Generations Backflow Co."
            listitem1="ipsum dolor sit amet consectetur adipisicing elit. Similique aspernatur neque facilis quibusdam harum voluptates aliquid impedit, aliquam a quidem provident, suscipit minus itaque hic nam. Libero eaque quod labore."
            listitem2="the ablity to tell your story and brand"
            listitem3=" Increased potential customers, easier to find on Google."
          />
        </a>
      </div>
    </div>
  </div>
</div>
