---

---

<!-- <section id="about-section" class="p-3 m-2"> -->
<div class="">
  <div id="" class="md:pt-[50px] pt-0">
    <h2 class="font-bold">About</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem harum eveniet
      voluptatem unde ipsam quis iusto, id illum quae dolorum, ipsum beatae,
      sequi quidem praesentium? Velit, ea. Temporibus, corrupti quasi!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem harum eveniet
      voluptatem unde ipm dolor sit amet consectetur adipisicing elit. Rem harum
      um quae dolorum, ipsum beatae, sequi quidem praesentium? Velit, eam dolor
      sit amet consectetur adipisicing elit. Rem harum eveniet voluptatem unde
      ipsam quis iusto, id illum quae dolorum, ipsum beatae, sequi quidem
      praesentium? Velit, easam quis iusto, id illum quae dolorum, ipsum beatae,
      sequi quidem praesentium? Velit, ea. Temporibus, corrupti quasi!
    </p>
  </div>
</div>
<!-- </section> -->
