---

---

<div class="mt-5 pt-5">
  <div class="mt-5 h-screen">
    <h2 id="" class="font-bold pt-3">Contact</h2>
    <p>Best way to reach me would be through email: elsahvy@gmail.com</p>
    <p>
      I am always looking fdsdffdfor opportunities to further my skills... and
      work with other like minded people in tech. If you would like to contact
      me, you can also find me at sm and sm
    </p>
  </div>
</div>
