---

---

<section id="contact" class="bg- text- p-5 my-[150px] -[130px]">
  <div id="padding" class="p-5 flex justify-center">
    <div class="">
      <h2 class="text-4xl font-">Contact</h2>
      <div class="font-semi pl-1">
        <p class="">
          Best way to reach me would be through email : elsahvy@gmail.com
        </p>
        <p>
          I am always looking fdsdffdfor opportunities to further my skills...
          and work with other like minded people in tech. If you would like to
          contact me, you can also find me at sm and sm
        </p>
      </div>
    </div>
  </div>
</section>
