---
import TestCard from "../TestCard.astro";
---

<!-- *HERO SECTION: If you could give one statement about the transformation this services offers, what would it be? --><!-- -communicate in under 3 seconds:
    --what is it?
    --who is it for?
    --how will it make my life better?
    --what do you want me to do next? -->
<div id="hero-section" class="mb-5 bg-">
  <TestCard
    title="A Web Design Business for Busy Creatives/ Small Business Owners"
    listitem1="What do you need for a website?"
    listitem3="The Growing Pup? A template for small businesses just starting out,  increased potential customers, easier to find on Google."
    listitem2="Or Rising Carnivore? You need a website not just to promote your business, but have the the ablity to tell your story and brand"
    listitem4="A custom website that fits your business, personality, goals... and you alone."
  />
</div>
