---
import TestCard from "../TestCard.astro";
---

<!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--><!--*--*--*--*--*-DYNAMIC LISTS v-*--*--*--*--*--*--*--*--*--*--><!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
<section id="hero-section">
  <TestCard
    title=" A subscription website service for busy small-businesses owners."
    listitem1="What do you need for a website?"
    listitem3="The Growing Pup? A template for small businesses just starting out,  increased potential customers, easier to find on Google."
    listitem2="Or Rising Carnivore? You need a website not just to promote your business, but have the the ablity to tell your story and brand"
    listitem4="A custom website that fits your business, personality, goals... and you alone."
  />
</section>

<!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
<!--*--*--*--*--*-DYNAMIC LISTS v-*--*--*--*--*--*--*--*--*--*-->
<!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
