---
import TestCard from "../TestCard.astro";
---

<div id="hero-section" class="mb-5">
  <TestCard
    title="A Web Design Business for Busy Creatives/ Small Business Owners"
    listitem1="What do you need for a website?"
    listitem3="The Growing Pup? A template for small businesses just starting out,  increased potential customers, easier to find on Google."
    listitem2="Or Rising Carnivore? You need a website not just to promote your business, but have the the ablity to tell your story and brand"
    listitem4="A custom website that fits your business, personality, goals... and you alone."
  />
</div>

<!-- TODO: CONTENT IS UNDECIDED 
<ul class="md:text-lg text-md pt-1 pl-4">
  <li class="" class="text-lg"> -->
<!-- <p class="text-test text-xl font-extrabold pt-4">How can I help?</p> -->
<!-- <p class="text-test text-xl font-extrabold pt-4">How It Works CTA</p>
  </li>

  <li class="">
    <b>-</b><a href="/web-development" class="font-semibold">
      CREATING A WEBSITE,</a
    >
    TO INCREASE YOUR POTENTIAL CUSTOMERS?
  </li>
  <li class="">
    <b>-</b> The ablity to tell your <a href="/writing" class="font-bold"
      >story and brand?</a
    >
  </li>
  <li>
    <b>-</b> Peace of mind... for business owners who don't have time to build
    with software.
  </li>
  <li class="pt-5 mt-5">
    <b>-</b> Increased potential customers, easier to find on Google.
  </li>

  <li>
    <b>-</b> A custom website that fits your business, personality, goals...
    and you alone.
  </li> -->

<!-- * BTN WRAPPER-undecided v-->
<!-- <ButtonProps
    btn1="why choose LC?"
    btn2="contact"
    btn1Link="/#chooseLC"
    btn2Link="/#contact"
  /> -->

<!-- * BTN WRAPPER   ^-->
<!-- <li class="pt-5 mt-5">
<b>-</b> Increased potential customers, easier to find on Google.
</li>

<li>
<b>-</b> A custom website that fits your business, personality, goals...
and you alone.
</li> -->
<!-- </ul> -->
