---
import { Image } from "astro:assets";
import Img1 from "../../images/screenshots/site3.png";
import Img2 from "../../images/screenshots/site6.png";
---

<div
  id="recent-work"
  class="bg-teal border-t-2 border-b-2 border-black 2xl:px-[50px] p-5 px-2"
>
  <h2
    class="text-parchment text-center md:text-4xl text-3xl mb-5 py-5 pt-[90px] underline"
  >
    <!--! LANDING PG EXAMPLES -->
    LANDING PG EXAMPLES- (why they work)
  </h2>
  <div
    id="wrapper"
    class="flex justify-center md:p-5 p-1 bg-test 2xl:m-[50px] m-3"
  >
    <div
      id="grid"
      class="mt-5 pt-5 grid 2xl:grid-cols-2 grid-cols-1 gap-x-4 2xl:gap-y-2 gap-y-5 bg-"
    >
      <div id="sq1" class="text-lavender p-5 mt-5 flex items-centerbg-">
        <a href="https://writingtobetterhealth.com">
          <div class="dropshadow">
            <h3 class="text-right md:text-4xl text-2xl underline pb-1">
              first glimpse-Rising Carnivore
            </h3>
            <div id="p-wrapper" class="pl-5 text-right">
              <p class="opacity-90">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
                sit laboriosam exercitationem beatae, similique voluptatem fuga
                velit a deleniti, consectetur obcaecati id. Provident illo
                veniam pariatur beatae nulla minima sed?
              </p>
              <p class="pt-5 opacity-90">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
                sit laboriosam exerc id. Provident illo veniam pariatur beatae
                nulla minima sed? Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Soluta sit laboriosam exerc id. Provident illo
                veniam pariatur beatae nulla minima sed?
              </p>
            </div>
          </div>
        </a>
      </div>
      <div
        id="sq2"
        class="border hover:border-2 border-black hover:opacity-85 2xl:mb-0 mb-[100px]"
      >
        <a href="/demos/wtbh">
          <Image src={Img1} alt="" class="" />
        </a>
      </div>

      <div id="sq3" class="border hover:border-2 border-black hover:opacity-85">
        <a href="/demos/jungle">
          <Image src={Img2} alt="" />
        </a>
      </div>
      <div
        id="sq4"
        class="dropshadow text-test2 p-5 flex justify-center items-center"
      >
        <div class="">
          <h3 class="md:text-4xl text-2xl font-extrabold">
            first glimpse-Growing Pup
          </h3>
          <p class="mb-5 opacity-90">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta sit
            laboriosam exercitationem beatae, similique voluptatem fuga velit a
            deleniti, consectetur obcaecati id. Provident illo veniam pariatur
            beatae nulla minima sed?
          </p>
          <p class="opacity-90">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta sit
            laboriosam exercitationem beatae, similique voluptatem fuga velit a
            deleniti, consectetur obcaecati id. Provident illo veniam pariatur
            beatae nulla minima sed?exercitationem beatae, similique voluptatem
            fuga velit a deleniti, consectetur obcaecati id. Provident illo
            veniam pariatur beatae nulla minima sed?exercitationem beatae,
            similique voluptatem fuga velit a deleniti, consectetur obcaecati
            id. Provident illo veniam pariatur beatae nulla minima sed?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
