---

---

<!-- *2. PROBLEM SOLVING SECTION:   --><!-- -where we address the key problem that our audience is experiencing, empathize with what they're going through... then position out product as the solution to this problem, and to help us structure this into a compelling story --><!-- --Attention
--interest
--desire
--action -->
<section
  id="address the key problem"
  class="bg- grid lg:grid-cols-2 grid-cols-1 gap-x-8 pt-5 pl-5 pr-1 my-[105px]"
>
  <>
    <div id="sq3" class="bg-test1">
      <div id="grid" class="grid grid-cols-2 h-full">
        <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
        <!--*--*--*--*--*-sq3-window gallery v-*--*--*--*--*--*--*--*--*--*-->
        <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
        <div id="sq1" class="p-2 bg-lavender">
          <h2>DISCOVERY PHASE-intro</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis
            veritatis susci mporibus repellendus id quos vero iure.
          </p>
        </div>
        <div id="sq3" class="p-2 bg-orange">
          <h2>CREATIVE PHASE-intro</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis
            veritatis susci mporibus repellendus id quos vero iure.
          </p>
        </div>
        <div id="sq2" class="p-2 bg-coral">
          <h2>DEVELOPMENT PHASE-intro</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis
            veritatis susci mporibus repellendus id quos vero iure.
          </p>
        </div>
        <div id="sq4" class="p-2 bg-teal">
          <h2>DISCOVERY PHASE-intro</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis
            veritatis susci mporibus repellendus id quos vero iure.
          </p>
        </div>

        <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
        <!--*--*--*--*--*-sq3-window gallery ^-*--*--*--*--*--*--*--*--*--*-->
        <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
      </div>
      <!-- <Image
      src={SelfImg}
      alt=""
      class="border border-black"
      height={400}
      width={400}
    /> -->
    </div>
  </>

  <div id="sq4" class="">
    <!-- *CONTENT EXANPLE IN PROGRESS v-->
    <h2 id="heading-ATTENTION" class="text-3xl font-bold pt-5">
      You're not lazy... you just need the right plan!
    </h2>
    <div id="paragraph-wrapper" class="pl-1 pr-5 mr-5 max-w-[800px]">
      <p class="pt-1" id="p1-INTEREST">
        -The reason most people give up when it comes to working out, is they
        either follow random videos with no plan or guidance, or try to go from
        zero to 100 overnight- only to give up when it doesn't stick.
      </p>
      <p class="pt-1" id="p2-description">
        -That's why my workout plans are designed to gently ease you in to build
        habits that stick with you for life.
      </p>
      <p class="pt-5" id="p3-description">
        -and my community will be here to give you the support, guidance, and
        accountability you need to be able to stick with it long term.
      </p>
      <p class="pt-5" id="p4-description-DESIRE">
        -So that a year from now... you'll be able to look back at yourself and
        think, "wow! Did I do that?"
      </p>
    </div>
    <button id="CTA-ACTION" class="border border-black bg-coral py-1 px-2 mt-3"
      >Plan My Workout</button
    >
    <!-- *CONTENT EXANPLE IN PROGRESS ^-->

    <!-- !UNSURE IF NEEDED v-->
    <!-- <ul class="md:text-lg text-md pt-1 pl-4">
      <li class="" class="text-lg"> -->
    <!-- <p class="text-test text-xl font-extrabold pt-4">How can I help?</p> -->
    <!-- <p class="text-test text-xl font-extrabold pt-4">
          Hi there, and welcome to Laughing Coyote!
        </p>
      </li>

      <li class="">
        <b>-</b><a href="/web-development" class="font-semibold">
          I'm Elsa, and I love creating colorful and unconventional websites,</a
        >
        As someone who has started a creative career from the ground up, I know what
        its like to be overwhelmed with figuring out web design, selling strategies,
        and marketing. This was what Laughing Coyote Dev was created for, to save
        you some headaches that come with learning about:
      </li>
      <li class="">
        <b>-</b> how to design a website, story and brand?
      </li>
      <li>
        <b>-</b> use hosting** - **and etc! See services below!**
      </li>
      <li class="pt-5 mt-5">
        <b>-</b> and etc! See services below!
      </li>

      <li>
        <b>-</b> A custom website that fits your business, personality, goals...
        and you alone.
      </li> -->

    <!-- ?BTN WRAPPER-undecided v-->
    <!-- <ButtonProps
        btn1="why choose LC?"
        btn2="contact"
        btn1Link="/#chooseLC"
        btn2Link="/#contact"
      /> -->

    <!-- ?BTN WRAPPER   ^-->
    <!-- <li class="pt-5 mt-5">
    <b>-</b> Increased potential customers, easier to find on Google.
  </li>

  <li>
    <b>-</b> A custom website that fits your business, personality, goals...
    and you alone.
  </li> -->
    <!-- </ul> -->

    <!-- !UNSURE IF NEEDED ^-->
  </div>
</section>

<section id="larger-copy-grid-above" class="grid grid-cols-2">
  <div id="sq1" class="p-2 bg-lavender">
    <h2>DISCOVERY PHASE-elaborate</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis
      veritatis susci mporibus repellendus id quos vero iure.
    </p>
  </div>
  <div id="sq3" class="p-2 bg-orange">
    <h2>CREATIVE PHASE-elaborate</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis
      veritatis susci mporibus repellendus id quos vero iure.
    </p>
  </div>
  <div id="sq2" class="p-2 bg-test2">
    <h2>DEVELOPMENT PHASE-elaborate</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis
      veritatis susci mporibus repellendus id quos vero iure.lorem
    </p>
    lorem
  </div>
  <div id="sq4" class="p-2 bg-teal">
    <h2>DISCOVERY PHASE-elaborate</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nobis
      veritatis susci mporibus repellendus id quos vero iure.
    </p>
  </div>
</section>
