---
import CenterPageBanner from "../shared/CenterPageBanner.astro";
// import Packages from "../components/Packages.astro";
import PhotoGallery from "../PhotoGallery.astro";
import FeaturedWebsites from "../FeaturedWebsites.astro";
---

<section id="web-dev" class="bg-lavender">
  <CenterPageBanner
    title="Web Development"
    paragraph="Why choose LC? Because of their endless designs and combinations available view each sq for description of how LC can help you"
  />
  <PhotoGallery />
  <FeaturedWebsites />
  <!-- Todo: <Packages /> -->
</section>
