---
import SectionBanner from "../shared/Section_Banner.astro";

const posts = [
  {
    title: "first post!",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
    pic: "https://images.pexels.com/photos/20485059/pexels-photo-20485059/free-photo-of-a-person-riding-a-dirt-bike-on-the-beach.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
  {
    title: "why headless matters for speed",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
    pic: "https://images.pexels.com/photos/18768356/pexels-photo-18768356/free-photo-of-windows-of-riverside-stilt-houses.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
  {
    title: "hiking in Joshua Tree",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
    pic: "https://images.pexels.com/photos/20923044/pexels-photo-20923044/free-photo-of-la-tierra.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
];
---

<section id="writing" class="bg-coral border border-t-black border-b-black">
  <SectionBanner
    title="Writing"
    paragraph="What do you need help with? why I've build LC.... or why LC was built.... talk about passion behind quick, modern minimalist style, straight to the point. "
  />
  <div id="grid-wrapper" class="flex justify-center items-center md:p-5 p-1">
    <div
      id="grid"
      class="grid md:grid-cols-2 grid-cols-1 gap-4 py-[50px] 2xl:px-[150px] px-5"
    >
      {
        posts.map((post) => (
          <div id="sq" class="md:my-1 my-5 md:p-4 p-0 cursor-pointer">
            <h2 class="capitalize font-bold hover:underline cursor-pointer py-1">
              {post.title}
            </h2>
            <img
              src={post.pic}
              alt={post.title}
              class=" rounded border border-black"
            />
            <div class="pl-1 pt-1">
              <p class="">{post.p}</p>
              <p class="underline">read more...</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
