---
import MainLayout from "../layouts/MainLayout.astro";
import Dynamic_Hero from "../components/shared/Dynamic_Hero.astro";
import AboutMe from "../components/sections/AboutMe.astro";
---

<MainLayout>
  <div id="hero-section" class="mb-5 bg-">
    <Dynamic_Hero
      title="About"
      listitem1="What do you need for a website?"
      listitem3="The Growing Pup? A template for small businesses just starting out,  increased potential customers, easier to find on Google."
      listitem2="Or Rising Carnivore? You need a website not just to promote your business, but have the the ablity to tell your story and brand"
      listitem4="A custom website that fits your business, personality, goals... and you alone."
    />
  </div>
  <AboutMe />
</MainLayout>
