---
import ContactSection from "../components/ContactSection.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<!--* SECTION 5- CONTACT-------------------------------------------------------------------------------------------------------------------->
<MainLayout>
  <section id="contact" class="mt-[50px] pt-5 bg-parchment">
    <CenterPageBanner
      title="Contact"
      paragraph="this is the featured-works page-lorem orem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, ex velit officiis amet voluptatibus eos quibusdam temporibus suscipit blanditiis dolores neque. Autem quia rem facilis, sint quo voluptates repellat illo"
    />
    <ContactSection />
  </section>
</MainLayout>
