---
import MainLayout from "../layouts/MainLayout.astro";
import HeroContent from "../components/shared/HeroContent.astro";
---

<MainLayout>
  <div id="hero-section" class="mb-5 bg-">
    <HeroContent
      title="Contact"
      attention="What do you need for a website?"
      interest="Or Rising Carnivore? You need a website not just to promote your business, but have the the ablity to tell your story and brand"
      desire="The Growing Pup? A template for small businesses just starting out,  increased potential customers, easier to find on Google."
      action="A custom website that fits your business, personality, goals... and you alone."
      heroImg="https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </div>
</MainLayout>
