---
import ProblemSolving from "../components/sections/ProblemSolving.astro";
import LandingPgEx from "../components/sections/LandingPgEx.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Dynamic_Hero from "../components/shared/Dynamic_Hero.astro";
import SubSectionBanner from "../components/shared/SubSection_Banner.astro";
import FooterBannerCTA from "../components/shared/FooterBannerCTA.astro";

const allWorks = await Astro.glob("./works/*.md");
---

<MainLayout>
  <div id="hero-section" class="mb-5 bg-">
    <Dynamic_Hero
      title="A Web Design Service for Busy Creatives/ Small Business Owners"
      listitem1="Have an idea for your next project? What do you need for a website?"
      listitem3="The Growing Pup? A template for small businesses just starting out,  increased potential customers, easier to find on Google."
      listitem2="Or Rising Carnivore? You need a website not just to promote your business, but have the the ablity to tell your story and brand"
      listitem4="A custom website that fits your business, personality, goals... and you alone."
    />
  </div>
  <section id="how-it-works">
    <ProblemSolving />
    <LandingPgEx />
  </section>

  <section id="featured-clients">
    <div id="wrapper" class="bg-test mt-[70px] pt-5">
      <div id="container" class="py-5 my-5">
        <!-- !WTBH AND JUNGLE -->
        <SubSectionBanner title="Featured Clients" />
        <div id="grid-wrapper" class="2xl:px-[50px] px-5">
          <div
            id="grid"
            class="mt-5 pt-5 grid md:grid-cols-2 grid-cols-1 2xl:gap-x-[100px] gap-4 2xl:px-[150px] px-0"
          >
            {
              allWorks.map((work) => (
                <div id="sq">
                  <a href={work.url}>
                    <img
                      src={work.frontmatter.image.url}
                      alt={work.frontmatter.image.alt}
                      class="border border-black hover:border-2 hover:cursor-pointer lg:h-[500px] h-[300px] w-full"
                    />

                    <div class="bg-papaya border-2 hover:border border-onyx mt-5 px-4 py-3">
                      <h2 class="text-test lg:text-4xl md:text-3xl text-2xl font- pb-2">
                        {work.frontmatter.title}
                      </h2>
                      <p class="">
                        Lorem ipsum dolor, sit amet consectetur adipisicing ediv
                        id="sq"t. Itaque ex nostrum veniam est? Voluptatum
                        corporis inventore veniam quas, minus sed corrupti
                        magnam, nostrum voluptates ipsum quibusdam fugit
                        exercitationem? Maxime, eos!
                      </p>
                    </div>
                  </a>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  <FooterBannerCTA title="to client templates ->" link="/packages" />
  <!-- <div id="footer-banner-cta">
    <p>footer banner cta</p>
    <a href="/packages">link</a>
  </div> -->
</MainLayout>
