---
import Header from "../components/Header.astro";
// import Contact from "../components/sections/Contact.astro";
import About from "../components/sections/About.astro";
import MainLayout from "../layouts/MainLayout.astro";
import SectionBanner from "../components/shared/Section_Banner.astro";
import FooterBannerCTA from "../components/shared/FooterBannerCTA.astro";
import PkgTemplates from "../components/sections/PkgTemplates.astro";
import HowItWorks from "../components/sections/HowItWorks.astro";
import HeroContent from "../components/shared/HeroContent.astro";
import PhotoGallery from "../components/sections/WebDev/PhotoGallery.astro";
import LandingPgEx from "../components/sections/LandingPgEx.astro";
const allWorks = await Astro.glob("./works/*.md");
---

<MainLayout>
  <div id="container" class="">
    <!-- *LEFT PANEL v-->
    <section
      id="left-panel"
      class="border-onyx border-r-2 bg-parchment md:h-screen h-full md:left-0 top-0 md:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
    >
      <Header />

      <section id="about-section" class="ml-3 mr-5 p-3 m-2">
        <!-- <About /> -->
        <HeroContent
          title="PROFESSIONAL WEB DESIGN SERVICES for creatives and small businesses"
          attention=" Why should you prefer a custom-made website, when you can simply use wix or wordpress? "
          interest="The ability to tell your story, owning a website gives you the ability to tell your business story without any limitations."
          desire="Because a custom website fits your business, personality, goals... and you alone. "
          action="We have one main goal, to get more views towards your business! "
        />
      </section>
    </section>
    <!-- *RIGHT PANEL v-->
    <section
      id="right-panel"
      class="md:h-screen bg-lightSeaGreen md:absolute relative md:right-0 bottom-0 md:w-3/5 w-full md:overflow-y-scroll overflow-x-hidden p-5"
    >
      <div id="">
        <div id="wrapper" class="flex justify-center">
          <!-- TODO CURRENTLY: HOMEPAGE GALLERY v-->
          <LandingPgEx />
          <!-- TODO CURRENTLY: HOMEPAGE GALLERY ^-->
        </div>
      </div>

      <!-- WEB DEV  ^-->

      <!-- WRITING  v-->

      <div id="writing">
        <SectionBanner
          title="Writing"
          paragraph="A blog about building small, brochure websites through react/ headless cms "
        />
      </div>

      <div id="wrapper" class="flex justify-center">
        <div id="grid-container" class="bg-test">
          <div
            id="grid"
            class="grid grid-cols-2 gap-12 2xl:mr-5 mr-1 2xl:px-[25px] px-2 pb-[50px] pt-2"
          >
            {
              allWorks.map((work) => (
                <div id="sq" class="hover:opacity-80 my-5 pb-5">
                  <a href={work.url} class="">
                    <div id="sq-container" class="bg-">
                      <h2 class="text-aquamarine text-2xl pb-2">
                        {work.frontmatter.title}
                      </h2>

                      <img
                        src={work.frontmatter.image.url}
                        alt=""
                        class="bg-test1 w-full border border-black"
                      />
                    </div>
                    {/* <div class="md:p-3 py-1 px-0">
                      <p class="md:mr-1 m-0 opacity-90 md:p-1 p-0">
                        {work.frontmatter.description}
                        read more
                      </p>
                    </div> */}
                  </a>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </section>
    <FooterBannerCTA title="test tile" link="link" />

    <!-- WRITING  ^-->
  </div>
</MainLayout>
