---
const { frontmatter } = Astro.props;
import Card from "../components/Card.astro";
import LandingPgEx from "../components/LandingPgEx.astro";
import SubSectionBanner from "../components/shared/SubSection_Banner.astro";
import MainLayout from "../layouts/MainLayout.astro";
// const allPosts = await Astro.glob("./posts/*.md");

const allWorks = await Astro.glob("./works/*.md");
---

<MainLayout>
  <!-- <LandingPgEx /> -->
  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
  <!--*--*--*--*--*-NEW DYNAMIC PGS v-*--*--*--*--*--*--*--*--*--*-->
  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
  <div id="wrapper" class="mt-5">
    <SubSectionBanner title="Recent Clients" />
    <div id="grid-wrapper" class="px-[50px]">
      <div
        id="grid"
        class="mt-5 pt-5 grid grid-cols-2 gap-x-[100px] px-[150px]"
      >
        {
          allWorks.map((work) => (
            <div id="sq">
              <a href={work.url}>
                <img
                  src={work.frontmatter.image.url}
                  alt={work.frontmatter.image.alt}
                  class="border border-black hover:border-2 hover:cursor-pointer h-[500px] w-full"
                />

                <div class="bg-papaya border-2 hover:border border-onyx mt-5 px-4 py-3">
                  <h2 class="text-test lg:text-4xl md:text-3xl text-2xl font- pb-2">
                    {work.frontmatter.title}
                  </h2>
                  <p class="">
                    Lorem ipsum dolor, sit amet consectetur adipisicing ediv
                    id="sq"t. Itaque ex nostrum veniam est? Voluptatum corporis
                    inventore veniam quas, minus sed corrupti magnam, nostrum
                    voluptates ipsum quibusdam fugit exercitationem? Maxime,
                    eos!
                  </p>
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
  <!--*--*--*--*--*-NEW DYNAMIC PGS ^-*--*--*--*--*--*--*--*--*--*-->
  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
  <!-- 
  <div id="recent-work" class="bg- mt-5 pt-5">
    <SubSectionBanner title="Recent Clients" />
    <div id="wrapper" class="flex justify-center 2xl:px-[180px] px-2">
      <div id="grid" class="grid 2xl:grid-cols-2 grid-cols-1 gap-12">
        <div id="sq1" class="">
          <a href="https://hoveyroofing.com">
            <Card
              title="small business- Hovey Roofing Co."
              listitem1="website creation"
              listitem2="the ablity to tell your story and brand"
              listitem3=" Increased potential customers, easier to find on Google. ipsum dolor sit amet consectetur adipisicing elit. Similique aspernatur neque facilis quibusdam harum voluptates aliquid impedit, aliquam a quidem provident, suscipit minus itaque hic nam. Libero eaque quod labore."
            />
          </a>
        </div>
        <div id="sq2" class="ck">
          <a href="https://ie-backflow.vercel.app/">
            <Card
              title="small business- Generations Backflow Co."
              listitem1="ipsum dolor sit amet consectetur adipisicing elit. Similique aspernatur neque facilis quibusdam harum voluptates aliquid impedit, aliquam a quidem provident, suscipit minus itaque hic nam. Libero eaque quod labore."
              listitem2="the ablity to tell your story and brand"
              listitem3=" Increased potential customers, easier to find on Google."
            />
          </a>
        </div>
      </div>
    </div>
  </div> -->
</MainLayout>
