---
import MainLayout from "../layouts/MainLayout.astro";

const items = [
  {
    title: "GROWING PUP DEMO",
  },
  {
    title: "RISING CARNIVORE DEMO",
  },
];
---

<!-- !DEMOS - (check test pg!!)-->
<MainLayout>
  {items.map((item) => <h2>{item.title}</h2>)}
</MainLayout>
