---
import Header from "../components/Header.astro";
import Contact from "../components/sections/Contact.astro";
import About from "../components/sections/About.astro";
import MainLayout from "../layouts/MainLayout.astro";
const allWorks = await Astro.glob("./works/*.md");
---

<MainLayout>
  <div id="container" class="">
    <!-- *LEFT panel v-->
    <section
      id="left-panel"
      class="border-onyx border-r-2 bg-parchment md:h-screen h-full md:left-0 top-0 md:absolute relative lg:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
    >
      <Header />
      <section id="about-section" class="ml-3 mr-5 p-3 m-2">
        <About />
      </section>

      <section id="contact-section" class="ml-3 mr-5 p-3 m-2">
        <Contact />
      </section>
    </section>

    <!-- *RIGHT panel v-->
    <section
      id="right-panel"
      class="md:h-screen bg-lightSeaGreen md:absolute relative md:right-0 bottom-0 md:w-3/5 w-full md:overflow-y-scroll overflow-x-hidden p-5"
    >
      <!-- TAGLINE-->
      <div class="md:mt-[150px] mt-2 2xl:w-3/4 w-full mx-5 px-5">
        <div class="md:block hidden text-aquamarine">
          <p class="md:text-3xl text-2xl">
            <!-- Why should you prefer a custom-made website, when you can simply
                use wix or wordpress? Because a custom website fits your
                business, personality, goals... and you alone. -->
            A blog about building small, brochure websites through react/ headless
            cms
          </p>
        </div>
      </div>
      <!-- WRITING  v-->
      <h2
        id="writing-section"
        class="font-bold text-3xl text-left text-onyx pl-5 pt-[280px]"
      >
        - Writing -
      </h2>
      <p class="px-[40px] text-onyx">
        A blog about building small, brochure websites through react/ headless
        cms
      </p>

      <div id="wrapper" class="flex justify-center">
        <div id="grid-container" class="bg-test">
          <div
            id="grid"
            class="grid grid-cols-1 gap-12 2xl:mr-5 mr-1 2xl:px-[25px] px-2 pb-[50px] pt-2"
          >
            {
              allWorks.map((work) => (
                <div id="sq" class="hover:opacity-80 my-5">
                  <a href={work.url} class="">
                    <div id="sq-container" class="bg-">
                      <h2 class="text-aquamarine text-2xl pb-2">
                        {work.frontmatter.title}
                      </h2>

                      <img
                        src={work.frontmatter.image.url}
                        alt=""
                        class="bg-test1 w-full border border-black"
                      />
                    </div>
                    <div class="p-3">
                      <p class="mr-1 opacity-90 p-1">
                        {work.frontmatter.description}
                        read more
                      </p>
                    </div>
                  </a>
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <!-- WRITING  ^-->
    </section>
  </div>
</MainLayout>
