---
import Services from "../components/Services.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <CenterPageBanner
    title="Writing"
    paragraph="Why choose LC? view each sq for description of how LC can help you"
  />
  <div class="m-5">
    <Services />
  </div>
</MainLayout>
