---
const today = new Date();
---

<footer class="border-t border-black justify-center flex-col mt-[50px]">
  <!-- TODO: UNDECIDED CTA <div id="footer-banner" class="w-full bg-teal h-48">banner</div>  -->
  <p class="pt-4 text-center">Copyright &copy; {today.getFullYear()}</p>
  <!-- ??ADD SMALL SITEMAP TO FOOTER?? -->
</footer>
