---
const today = new Date();
---

<footer
  class="text-center w-full border border-t-black pb-2 bg-teal text-parchment dropshadow-lg pt-3 mt-5"
>
  <p>Copyright &copy; {today.getFullYear()}</p>
  <!-- CTA LINK TO ABOUT SECTION (ON SERVICES PG) -->
</footer>
