---
const links = [
  // USE FOR EH INSTEAD
  // { label: "Web Development", href: "/#web-development" },
  // { label: "Writing", href: "/#writing" },
  // { label: "Contact", href: "/#contact-section" },

  { label: "Services", href: "/services" },
  { label: "Templates & Development", href: "/templates" },
  { label: "Featured Work", href: "/featured-works" },
  { label: "Contact", href: "/contact" },
];
---

<header class="bg-orange border-2 border-b-black mb-5">
  <div>
    <nav class="px-5 2xl:pt-0 md:pt-[50px]">
      <h1 class="2xl:text-[105px] text-6xl py-5 2xl:font-medium font-semibold">
        <a href="/"> Laughing Coyote Dev </a>
      </h1>
      <div
        class="flex flex-col border-black border-t-2 pl-5 text-2xl py-5 mr-5 l text-onyx justify-start"
      >
        <ul class="">
          {
            links.map((link) => (
              <a class="" href={link.href}>
                <li class=" drop-shadow-2xl">{link.label}</li>
              </a>
            ))
          }
        </ul>
      </div>
    </nav>
  </div>
</header>
