---
const links = [
  { label: "About", href: "/#about-section" },
  { label: "Writing", href: "/#writing-section" },
  { label: "Contact", href: "/#contact-section" },
];
---

<header class="bg-orange border-2 border-b-black mb-[150px]">
  <div>
    <nav class="px-5 2xl:pt-0 md:pt-[50px]">
      <h1 class="2xl:text-[105px] text-6xl py-5 2xl:font-medium font-semibold">
        <a href="/"> Laughing Coyote Dev </a>
      </h1>
      <div
        class="flex flex-col border-black border-t-2 pl-5 text-2xl py-5 mr-5 l text-onyx justify-start"
      >
        <ul class="">
          {
            links.map((link) => (
              <a class="" href={link.href}>
                <li class=" drop-shadow-2xl">{link.label}</li>
              </a>
            ))
          }
        </ul>
      </div>
    </nav>
  </div>
</header>
