---
import ButtonProps from "./shared/ButtonProps.astro";
---

<section
  id="how-it-works"
  class="bg- grid md:grid-cols-2 grid-cols-1 gap-x-8 pt-5 my-[105px]"
>
  <div
    id="sq3"
    class="flex md:justify-end justify-center items-center 2xl:mr-[75px] mr-1 2xl:m-0 2xl:ml-[45px] md:ml-2 ml-0"
  >
    <img
      src="https://images.pexels.com/photos/21658440/pexels-photo-21658440/free-photo-of-happy.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt=""
      class="border border-black"
    />
  </div>
  <div
    id="sq4"
    class="bg-test flex justify-start items-end md:pb-5 pb-[55px] 2xl:md:pr-5 pr-1 2xl:ml-2 ml-0"
  >
    <ul class="md:text-lg text-md pt-1 pl-4">
      <li class="" class="text-lg">
        <!-- <p class="text-test text-xl font-extrabold pt-4">How can I help?</p> -->
        <p class="text-test text-xl font-extrabold pt-4">How It Works CTA</p>
      </li>

      <li class="">
        <b>-</b><a href="/web-development" class="font-semibold">
          CREATING A WEBSITE,</a
        >
        TO INCREASE YOUR POTENTIAL CUSTOMERS?
      </li>
      <li class="">
        <b>-</b> The ablity to tell your <a href="/writing" class="font-bold"
          >story and brand?</a
        >
      </li>
      <li>
        <b>-</b> Peace of mind... for business owners who don't have time to build
        with software.
      </li>
      <li class="pt-5 mt-5">
        <b>-</b> Increased potential customers, easier to find on Google.
      </li>

      <li>
        <b>-</b> A custom website that fits your business, personality, goals...
        and you alone.
      </li>

      <!-- * BTN WRAPPER-undecided v-->
      <ButtonProps
        btn1="why choose LC?"
        btn2="contact"
        btn1Link="/#chooseLC"
        btn2Link="/#contact"
      />

      <!-- * BTN WRAPPER   ^-->
      <!-- <li class="pt-5 mt-5">
    <b>-</b> Increased potential customers, easier to find on Google.
  </li>

  <li>
    <b>-</b> A custom website that fits your business, personality, goals...
    and you alone.
  </li> -->
    </ul>
  </div>
</section>
