---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---

<MainLayout>
  <div id="grid" class="grid grid-cols-2 dropshadow-3xl">
    <div id="sq1" class="bg-lavender border border-black">
      <div class="p-5 flex justify-center items-center flex-col h-full">
        <h2 class="font-bold text-3xl">{frontmatter.title}</h2>
        <p>{frontmatter.category}</p>
      </div>
    </div>
    <div id="sq2" class="bg-test2">
      <img
        src={frontmatter.image.url}
        alt=""
        class="border border-black hover:opacity-80"
      />
    </div>
  </div>

  <div class="p-3 w-2/3 ml-[70px] mt-5">
    <slot />
  </div>
</MainLayout>
